.navigationBar {
  list-style: none;
  margin-top:4rem;
  padding: 0;
  float: right;
}

.navigationBar li {
  display: inline;
  padding: 10px 10px;
}


.navigationBar li a {
  text-decoration: none;
  color: white;
}
