.faqHeader{
  text-align: left;
  margin-bottom: .2rem;
}

.faqBody{
  font-size: 0.9rem;
}

.faqData{
  margin-bottom: 3rem;
}

@media (prefers-color-scheme: dark){
  .faqContainer{
    border-bottom: 1px solid #c7151f;
    border-left: 1px solid #c7151f;
    border-right: 1px solid #c7151f;
  }
}