.faqHeader{
	text-align: left;
	margin-bottom: .2rem;
}

.faqBody{
	font-size: 13px;
}

.faqData{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 3rem;
}

.faqContainer{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top:3rem;
	margin-bottom: 3rem;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
  	border-right:1px solid #ccc;
  	border-top:none;
  	border-radius: 4px;

	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
}
