.homepageButtonContainer{
  width: 80%;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.homepageButtonContainer p{
  text-align: center;
}

.homepageButtonContainer-button{
  width: 33%;
  display: inline;
  margin-left: 1rem;
  text-decoration: none;
  line-height:1.2;
}

.homepageButtonContainer-button a{
  border-style: solid;
  width: 100%;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  font-size:16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color : rgb(196, 18, 30);
  background-color : rgb(196, 18, 30);
  color: rgb(255, 255, 255);
}
