kjn3.homepageContainer{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 16px;
}

.homepageButtonContainer h1{
  font-weight: 400;
}

.donationsSeeMore{
  color:hsl(356, 83%, 42%);
  letter-spacing: -0.042em;
  font-weight: 400;
}

.donationsSeeMore a{
 text-decoration: none;
}

.homepageButtonContainer{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.bottomSpacing{
  margin-bottom: 1rem;
}

h1, h2{
  font-weight: 400;
}

.homepageTitle{
  text-align: center;
}


.inline{
  display: inline-block;
}



.table{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.tableList h3{
  margin-top: 0;
  margin-bottom: 5px;
  color:hsl(356, 83%, 42%);
  letter-spacing: -0.042em;
  font-weight: 400;
}

.tableContents{
  text-align: left;
  margin-top: 5px;
}
.alignLeft{
  float: left;
  max-width: 50%;
  margin-left: 5%;
}

.alignRight{
  float: right;
  max-width: 40%;
  margin-right: 5%;
}

.fullSize{
  margin-top: 1rem;
  width:100%;
}

.tableList{
  list-style: none;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

ul.tableList li {
  position:relative;
  margin-bottom: 0;
  padding-bottom: 1em;
}

ul.tableList li:after {
  content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
  position: absolute;
  left: -26px;
  top: 0px;
}

ul.tableList li:before {
  content:"";
  position: absolute;
  left: -16px;
  border-left: 1px dotted black;
  height: 100%;
  width: 1px;
}

ul.tableList li:first-child:before {
  top: 6px;
}

ul.tableList li:last-child:before {
  height: 5px;
}

.howToJoinOuter{
  background-color: #f8f8f8;
}

.howToJoinInner{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(356, 83%, 42%);
}

.howToJoinContents{
  color:black;
  padding-right: 15px;
  padding-left: 15px;
}


.doctrineTitle{
  padding: 0px;
}


#grid{
  display:grid;
  height:200px;
  width:67vw;
  grid-template-columns: auto auto auto auto auto;
  /*background:red;*/
}
#wrapper{
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;   
  height:51vh;
}


.homepageButtonContainer-button .name{
  color:#fff;
  font-weight: bold;
}
.homepageButtonContainer-button h3{
 /* margin-top: -38px;*/
}

#wrapper a:hover .homepageButtonContainer-button {
  background: -webkit-linear-gradient(to right, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+ */
}


#wrapper a{
  text-decoration: none !important;
}
.homepageButtonContainer-button {
  display:flex;
  height:250px;
  width:15vw;
  /*margin:10px;*/
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4136, #c4121e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4136, #c4121e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+ */
  border-radius:5px;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  opacity:0.9;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
#care{
  background:url(https://imageserver.eveonline.com/Type/2048_64.png);
}
#fittings{
  background:url(https://web.ccpgamescdn.com/newssystem/media/67350/1/36381_Nemesis_Intaki_Syndicate.png);
}
#discord{
  background:url(https://discordapp.com/assets/2c21aeda16de354ba5334551a883b481.png);
}
#teamspeak{
  background:url(https://www.teamspeak.com/user/themes/teamspeak/images/brand/Stacked_BlueLight.svg);
}
.logo-service{
  margin-top: 40px;
  width:90%;
  height:150px;
  padding:5px;

  background-position: center !important; 
  border-radius:10px !important;
  background-size: contain !important; 
  background-repeat: no-repeat !important;
}


