.motdContainer{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top:3rem;
  margin-bottom: 3rem;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-top:none;
  border-radius: 4px;

  box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
}

.kill .body {
  padding: 5px;
  height: 152px;/* 200 - 20 - 4*7px */
}

.motdLine{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: .5rem;
}

.InnerDiv{
  margin-bottom: 3rem;
}

.shipPortrait {
  width: 152px;
  height: 152px;
  float: left;
}

.kill{
  margin: 1em;
  display: inline-block;
  width: 280px;
  height: 200px;
  background: rgba(163, 0, 0, 0.4);
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-top:none;
  box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
  overflow: hidden;
}

.donatorImgContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.details{
  text-align: center;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 18px;
  margin-bottom: .5rem;
}


.killTitle{
  padding: 7px;
  background: hsl(0,100%,32%);
  color:white;
  height: 20px;
  font-weight: 700;
}