.MustWatchContainer{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.slick-prev:before, .slick-next:before {
    color:red !important;
}

.slick-dots li button:before {
  color: red;
}

.slick-dots li.slick-active button:before{
  color: red;
}

@media only screen and (max-width: 767px) {
    .gallery {
        margin: 0 10%;
    }
}