@media (prefers-color-scheme: dark) {
  .OutsideContainer{
    border-bottom:1px solid #c7151f;
    border-left:1px solid #c7151f;
    border-right:1px solid #c7151f;
  }
}
.iskIcon{
  color: black;
  width: 10rem;
  height: 10rem;
  background: #58d3d3;
  border-radius: 2rem;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-filter: invert(100%);
}

.titleObombercare{
  color: #c4121e;
}

.InsideContainer{
  margin: 5%
}

li,p{
  text-align: left;
}
