@media (prefers-color-scheme: dark) {
  .terminologyContainer{
    border-bottom:1px solid #c7151f;
    border-left:1px solid #c7151f;
    border-right:1px solid #c7151f;
  }
}

.terminologyHeader{
  text-align: left;
  margin-bottom: .2rem;
}

.terminologyData{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3rem;
}

.subList{
  margin-left: 10px;
}